body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.col {
    flex: 1;
    max-width: 350px;
    min-width: 300px;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    border-radius: 10px;
    width: 100%;
    height: 450px; /* Mărimim dimensiunea imaginilor */
    object-fit: cover;  /* Asigură că imaginea acoperă complet containerul */
    transition: transform 0.3s ease;
}

.card img:hover {
    transform: scale(1.1);
}

.card-body {
    background-color: #fff;
    padding: 15px;
    text-align: center;
}

.card-title {
    font-size: 1.75rem;
    color: #333;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 25px;
    padding: 10px 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
h1{
    text-align: center;
}
